header.review {
  background: url('https://unsplash.it/1900/1080?image=3') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header.review > .overlay {
  padding: 10rem 0;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;


}
.content{
  display: flex;
  justify-content: center;
  text-align: center;

}

.stars{
  max-width:  50%;
}
@media (min-width: 950px) {
  header.review > .overlay {
    padding: rem 0;

  }
}
